// Footer Menu Styling
ul#nav-footer {
	font-family: optima !important;
	font-variant-caps: small-caps;
    list-style: none;
    display: flex;
    background-color: @brown;
	margin: 0;
	padding: 10px;
	margin: 0 0 0 15%;
    justify-content: center;
    max-width: 100%;

        & li {
            padding: 0 75px 0 75px;
        }
}

#colophon {
	width: 100%;
}

//end of Footer Menu Styling

//Footer Social Styling
ul#nav-footer-social {
    background-color: @uglybrown;
    font-family: optima !important;
	font-variant-caps: small-caps;
    list-style: none;
    display: flex;
    margin: 0;
	padding: 10px;
	margin: 0 0 0 15%;
    justify-content: center;
    max-width: 100%;
        & li {
            padding: 0 75px 0 75px;
        }

}
// The below code is for the home page and needs to be moved into another folder
.home-spacer {
    color: @cream;
    font-size: 20px;
}

.tester1 {
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 100%, 75% 97.5%, 50% 100%, 25% 97.5%, 0 100%, 0% 35%, 0 0) !important;
    background-color: #fff !important;
}    

.tester2 {
    clip-path: polygon(50% 0%, 75% 2.5%, 100% 0, 100% 100%, 75% 97.5%, 50% 100%, 25% 97.5%, 0 100%, 0 0, 25% 2.5%) !important;
    background-color: #fff !important;
}

.tester3 {
    clip-path: polygon(50% 0%, 75% 2.5%, 100% 0, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0 0, 25% 2.5%) !important;
    background-color: #fff !important;
}

p.wp-block-cover-text {
    font-size: 1vw !important;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: optima;
    opacity: 0.8;
}

.wp-block-cover, .wp-block-cover-image {
    margin: 0 !important;
    clip-path: url(../img/hometop.svg);
    
}
.bottom-section {
    height: 50%;
}
  
.bottom-aligner {
    height: 80%;
    vertical-align: bottom;
}

.wp-block-cover, .wp-block-cover-image {
    height: 50vw;
}

h1.fp-site-tittle {
    font-family: montez;
    font-size: 7vw;
    color: @blue;
    margin: 0;
    padding:0;
}


.entry-content {
    background-color: @cream;
}

.content-area {
    margin-top: 0px !important;
}


// Recipe Page Styles
.fp-img-breakie {
    padding-bottom: 13px;
}

.fp-img-supper {
    padding-bottom: 18px;
    padding-top: 15px;
}

.fp-meal-cat, .fp-meal-text, .fp-img-supper, .fp-img-breakie, .fp-img-lunch  {
    text-align: center;
    color: @blue;
}
.wp-block-columns.has-3-columns {
    padding-left: 40px;
}
.fp-recipe-title{
    font-family: montez;
    text-align: center;
    margin: 0;
    font-size: 7vw;
    color: @blue;
}

// Meal Planner Styles

.timely img, #ai1ec-container img {
    max-width: 100% !important;
}
.timely {
    max-width: 99.9%;
    padding: 0 10px 0 12px;
}

// Chores List Styles

.fp-choreslist-title {
    font-family: montez;
    font-size: 7vw;
    margin: 0 0 -50px 0;
    padding: 0;
}

.fp-choreslist-text {
    font-family: optima;
}
.fp-choreslist-list{
    border-style: groove;
    font-family: optima;
    list-style: none;
    text-align: center;
    margin: 0 20px 0 20px;
    border-color: @uglybrown;
}
.fp-choreslist-img {
    margin: 0 20px 0 20px;
}

// Grocery List Styles

.fp-grolist {
    margin:0;

}